configuration {
    show-icons: true;
    font: "JetBrainsMono Nerd Font 11";

    display-ssh:    "󰣀 :";
    display-run:    "󱓞 :";
    display-drun:   " :";
    display-window: "󱂬 :";
    display-combi:  "󰕘 :";
    display-filebrowser: "󰉋 :";

    dpi: 120;
}

@theme "kanabox-material"
